# Chp-7: Tuples and Lists

-  Learning Objectives
    - ..
    - ..

## Data Structures
Data structures are used to store data. We have already seen some of them including integers, floats, strings and booleans.
- By using these structures only one value can be stored. 
    - $3$ is an integer and it is only a single value.
    - $3.14$ is a float with a single value.
    - A string can be very long (have many characters) but still it is single value like *'Hello'*.
    - Boolean values are either *True* or *False* which are again single values.
- Integers, floats, strings and booleans are examples of `Primitive Data Structures` which means they can store only one value.

In Python, there are many more complicated data structures called `Imprimitive Data Structures` which can store more than one valeues with mixed types and  have variuos functionalties including indexing. In this chapter, the imprimitive data structures `Tuples` and `Lists` will be covered.

- Data structures
    1. Primitive
        - Integers
        - Floats
        - Strings
        - Booleans
    2. Impritive
        - Tuples
        - Lists
        - Sets
        - Arrays
        - Dictionaries

## Tuples
These are ordered sequence of values of mixed types. 
- Since a `tuple` is *ordered*, which means order is important.
    - $1,2$ and $2,1$ are different.
    - Since there is an order indexing also works for tuples.
        - Indexing of `tuples` is very simialr to strings. 
- Values in a `tuple` can be mixed types.
    - integers, floats, strings, booleans, tuples, lists can be a value in a `tuple`.
- `Tuples` are immutable (can not be modified).
    - This is the main difference between the `tuples` and `lists`'
    - `Lists` can be modified. 
- The built-in `tuple()` function can be used to convert an appropriate data types into a `tuple`.

### Create Tuples
A tuple can be created by using one of the following ways: 
1. Using a comma separated sequence: `1,2,3`.
2. Enclosed a comma separated sequence by parantheses: `(1,2,3)`.
3. Using the built in `tuple()` function: `tuple(1,2,3)`.

- `()` is an empty tuple.
- If a tuple has only one value then a comma should be added right after that single value.
    - Example: `1,` or `(1,)`
    - **Warning:**
        - `(1)` is the integer 1 and `(1,)` is the tuple with only one value.
        - `1` is the integer 1 and `1,` is the tuple with only one value 1.

**Examples**

In [1]:
# empty tuple
empty_tuple = ()

print(type(empty_tuple))

<class 'tuple'>

In [2]:
# tuple with only one value: 'USA'

t = 'USA',        # no paranthesis
print(type(t))

<class 'tuple'>

In [3]:
# tuple with only one value: 'USA'

t = ('USA',)      # with paranthesis
print(type(t))

<class 'tuple'>

In [4]:
# (1) is an integer not tuple

t = (1)      
print(type(t))

<class 'int'>

In [5]:
# ('USA') is string not tuple

t = ('USA')      
print(type(t))

<class 'str'>

In [6]:
# tuple with mixed values: str, int, bool, float

t = ('USA', 2, True, 9.123)       # with paranthesis
print(type(t))

<class 'tuple'>

In [7]:
# tuple in a tuple
# tuple with mixed values: str, int, bool, float, tuple
# (10,20,30) is a tuple in the tuple t.


t = ('USA', 2, True, 9.123, (10,20,30))       # with paranthesis
print(type(t))

<class 'tuple'>

### tuple() function
- The built-in `tuple()` function converts a string to a tuple which consists of the characters of the string as its values.

In [8]:
t = tuple('Hello')  # convert string to tuple

print(f'Type of t: {type(t)}')
print(f't        : {t}')

Type of t: <class 'tuple'>
t        : ('H', 'e', 'l', 'l', 'o')

- The built-in `tuple()` function converts a range to a tuple which hides a sequence of numbers in it.

In [9]:
r = range(2,8)    # 2,3,4,5,6,7 are  hidden in r

print(f'Type of r: {type(r)}')
print(f'r        : {r}')

Type of r: <class 'range'>
r        : range(2, 8)

In [10]:
t = tuple(r)     # convert range to tuple

print(f'Type of t: {type(t)}')
print(f't        : {t}')

Type of t: <class 'tuple'>
t        : (2, 3, 4, 5, 6, 7)

### Functions on tuples
The following functions can take a tuple as an input and returns:
- len(): the number of elements in a tuple.
- max(): the maximum value in a tuple.
    - For strings dictionary order is used and max is the last string in the dictionary order.
- min(): the minimum value in a tuple.
    - For strings dictionary order is used and min is the first string in the dictionary order.
- sum(): returns the sum of the elements (if they can be added) in a tuple.
    - It does not work with strings
    - It works for booleans: True is $1$, False is $0$

**Examples**

In [11]:
numbers = (7,3,1,9,6,4)

print(f'Length : {len(numbers)}')
print(f'Maximum: {max(numbers)}')
print(f'Minimum: {min(numbers)}')
print(f'Sum    : {sum(numbers)}')

Length : 6
Maximum: 9
Minimum: 1
Sum    : 30

In [12]:
letters = ('r', 't', 'n', 'a', 'd')

print(f'Length : {len(letters)}')
print(f'Maximum: {max(letters)}')    # dictionary order
print(f'Minimum: {min(letters)}')

Length : 5
Maximum: t
Minimum: a

In [13]:
numbers = (7,3,1,9,6,4,True)      # True is considered as 1

print(f'Length : {len(numbers)}')
print(f'Maximum: {max(numbers)}')
print(f'Minimum: {min(numbers)}')
print(f'Sum    : {sum(numbers)}')

Length : 7
Maximum: 9
Minimum: 1
Sum    : 31

In [14]:
t = (7,3,1,9,6,4,True, 'a')      

print(f'Length : {len(t)}')    # only len() works for this tuuple

Length : 8

### Indexing and Slicing
- It is similar to strings.

In [15]:
t = ('USA', 2, True, 9.123, 'NY', 'NJ', 100, False)

**Examples**

In [16]:
# first element
print(t[0])

USA

In [17]:
# last element
print(t[-1])

False

In [18]:
# index 3 element (fourth element)
print(t[3])

9.123

In [19]:
# index=2,3,4
print(t[2:5])

(True, 9.123, 'NY')

In [20]:
# index=-4,-3,-2
print(t[-4:-1])

('NY', 'NJ', 100)

In [21]:
# slice starting from the index 3 element and all the way to the end
print(t[3:])

(9.123, 'NY', 'NJ', 100, False)

**Remark**
- There is a difference between index -1 element and  slice [-1:].
- Both of them point to the last element of the tuple.
- The first one returns the last element whereas later one returns a length one tuple with the last element.

In [22]:
print(f'index -1 element: {t[-1]}, type: {type(t[-1])}')     # boolean
print(f'slice [-1:]     : {t[-1:]}, type: {type(t[-1:])}')   # tuple

index -1 element: False, type: <class 'bool'>
slice [-1:]     : (False,), type: <class 'tuple'>

**Remark**
- A tuple in a super tuple is a single element of the super tuple.
- Its elements are not elements of the super tuple.

In [23]:
t = ('USA', 2, True, 9.123, (10,20,30))
print(f'Length of t       : {len(t)}')            # (10,20,30) is a single element of t
print(f'10 is in t        : {10 in t}')           # 10 is not an element of t
print(f'(10,20,30) is in t: {(10,20,30) in t}')   # (10,20,30) is  an element of t

Length of t       : 5
10 is in t        : False
(10,20,30) is in t: True

**Remark**
It is possible to access the elements of the sub tyuple by using chain indexing.

In [24]:
t = ('USA', 2, True, 9.123, (10,20,30))
print(f't[-1]: {t[-1]}')          # t[-1] = (10,20,30) is a tuple
print(f't[-1][0]: {t[-1][0]}')    # indexing of t[-1] = (10,20,30)
print(f't[-1][1]: {t[-1][1]}')
print(f't[-1][2]: {t[-1][2]}')

t[-1]: (10, 20, 30)
t[-1][0]: 10
t[-1][1]: 20
t[-1][2]: 30

### Operators on Tuples
Operators behave similar to strings.
- `+`: Concatenation
- `*`: Repetition (only integers used)
- `in` and `not in` operators: check whether a value is an element in a tuple.
    - Returns a boolean value

**Examples**

In [25]:
numbers = (1,2,3,4)
letters = ('a','b','c','d')

In [26]:
# Concatenation returns a new tuple

print(f'numbers + letters = {numbers + letters}')
print(f'numbers           = {numbers}')       # no change
print(f'letters           = {letters}')       # no change

numbers + letters = (1, 2, 3, 4, 'a', 'b', 'c', 'd')
numbers           = (1, 2, 3, 4)
letters           = ('a', 'b', 'c', 'd')

In [27]:
# Repetition returns a new tuple

print(f'letters*3 = {letters*3}')
print(f'letters   = {letters}')       # no change

letters*3 = ('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')
letters   = ('a', 'b', 'c', 'd')

In [28]:
# Is 5 in  numbers?

print(f' 5 is in numbers tuple    : {5  in numbers}' )
print(f' 5 is not in numbers tuple: {5  not in numbers}' )

 5 is in numbers tuple    : False
 5 is not in numbers tuple: True

In [29]:
# Is 3 in  numbers?

print(f' 3 is in numbers tuple    : {3  in numbers}' )
print(f' 3 is not in numbers tuple: {3  not in numbers}' )

 3 is in numbers tuple    : True
 3 is not in numbers tuple: False

### Immutable
Like strings tuples are immutable which means they can not be modified.
- For example, if you try to change the first element of a tuple, you will get an error message.

``` python
# ERROR:  try to change the first element, which has an index of 0.
t = (1,2,3,4)
t[0] = 100  
```

### Tuple Methods
- Except the magic methods (the ones with the underscores) there are only two methods of tuples.

In [30]:
# methods of tuples
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

#### count()
- It returns the number of occurence of a given value in a tuple.

In [31]:
t = ('a','a','b','b','b','b','c')
print(f'Number of a  in t: {t.count("a")}')   # use " instead of ' for a
print(f'Number of b  in t: {t.count("b")}')
print(f'Number of c  in t: {t.count("c")}')
print(f'Number of d  in t: {t.count("d")}')

Number of a  in t: 2
Number of b  in t: 4
Number of c  in t: 1
Number of d  in t: 0

#### index()
- It returns the index of a given value in a tuple.
- It gives an error message if value is not in the tuple.
- If an element is repeated, the smallest index will be returned.

In [32]:
t = ('a','b','c', 'a')
print(f'The index of a in t: {t.index("a")}')   # index of first a
print(f'The index of b in t: {t.index("b")}') 
print(f'The index of c in t: {t.index("c")}') 
# print(f'The index of d in t: {t.index("d")}')  ---> ERROR

The index of a in t: 0
The index of b in t: 1
The index of c in t: 2

## Lists
Lists are similar to the tuples and they are also ordered sequence of values of mixed types. 
The indexing, slicing, functions on them are all similar to tuples.
The main difference are:
- Lists are created by using square brackets.
- Lists are mutable so they can be modified. This is the main difference.
- Since lists can be modified they have a large number of methods.
- The built-in `list()` function can be used to convert an appropriate data types into a `list`.
- `[]` ia an empty list.

### Create Lists

In [33]:
# empty list
empty_list = []

print(type(empty_list))

<class 'list'>

In [34]:
# list with mixed values: str, int, bool, float

mixed_list = ['USA', 2, True, 9.123]       
print(type(mixed_list))

<class 'list'>

In [35]:
# tuple and list in a list
# list with mixed values: str, int, bool, float, tuple, list
# (10,20,30) is a tuple and ['a','b'] is a list in the list mixed_list.

mixed_list = ['USA', 2, True, 9.123, (10,20,30), ['a','b']]       
print(type(mixed_list))

<class 'list'>

### list() function
- The built-in `list()` function converts a string to a list which consists of the characters of the string as its values.

In [36]:
char_list = list('Hello')  # convert string to tuple

print(f'Type of char_list: {type(char_list)}')
print(f'char_list        : {char_list}')

Type of char_list: <class 'list'>
char_list        : ['H', 'e', 'l', 'l', 'o']

- The built-in `list()` function converts a range to a list which hides a sequence of numbers in it.

In [37]:
r = range(2,8)    # 2,3,4,5,6,7 are  hidden in r

print(f'Type of r: {type(r)}')
print(f'r        : {r}')

Type of r: <class 'range'>
r        : range(2, 8)

In [38]:
num_char = list(r)     # convert range to list

print(f'Type of num_char: {type(num_char)}')
print(f'num_char        : {num_char}')

Type of num_char: <class 'list'>
num_char        : [2, 3, 4, 5, 6, 7]

- The built-in `list()` function converts a tuple to a list.

In [39]:
t = (10,20,30)

sample_list = list(t)   # tuple ---> list

print(f'Type of sampleList: {type(sample_list)}')
print(f'sample_list       : {sample_list}')

Type of sampleList: <class 'list'>
sample_list       : [10, 20, 30]

- The built-in `tuple()` function converts a list to a tuple.

In [40]:
sample_list = [10,20,30]

t = tuple(sample_list)   # list ---> tuple

print(f'Type of t: {type(t)}')
print(f't       : {t}')

Type of t: <class 'tuple'>
t       : (10, 20, 30)

### Functions on lists
- len(), max(), min(), sum() functions behave similaarly for lists.

In [41]:
numbers = [7,3,1,9,6,4]

print(f'Length : {len(numbers)}')
print(f'Maximum: {max(numbers)}')
print(f'Minimum: {min(numbers)}')
print(f'Sum    : {sum(numbers)}')

Length : 6
Maximum: 9
Minimum: 1
Sum    : 30

In [42]:
letters = ['r', 't', 'n', 'a', 'd']

print(f'Length : {len(letters)}')
print(f'Maximum: {max(letters)}')    # dictionary order
print(f'Minimum: {min(letters)}')

Length : 5
Maximum: t
Minimum: a

### Indexing and Slicing
- It is similar to strings and tuples.

In [43]:
mixed_list = ['USA', 2, True, 9.123, 'NY', 'NJ', 100, False]

**Examples**

In [44]:
# first element
print(mixed_list[0])

USA

In [45]:
# last element
print(mixed_list[-1])

False

In [46]:
# index 3 element (fourth element)
print(mixed_list[3])

9.123

In [47]:
# index=2,3,4
print(mixed_list[2:5])

[True, 9.123, 'NY']

In [48]:
# index=-4,-3,-2
print(mixed_list[-4:-1])

['NY', 'NJ', 100]

In [49]:
# slice starting from the index 3 element and all the way to the end
print(mixed_list[3:])

[9.123, 'NY', 'NJ', 100, False]

**Remark**
- There is a difference between index -1 element and  slice [-1:].
- Both of them point to the last element of the list.
- The first one returns the last element whereas later one returns a length one list with the last element.

In [50]:
print(f'index -1 element: {mixed_list[-1]}, type: {type(mixed_list[-1])}')     # boolean
print(f'slice [-1:]     : {mixed_list[-1:]}, type: {type(mixed_list[-1:])}')   # list

index -1 element: False, type: <class 'bool'>
slice [-1:]     : [False], type: <class 'list'>

**Remark**
- A tuple in a list is a single element of the list.
- Its elements are not elements of the list.

In [51]:
mixed_list = ['USA', 2, True, 9.123, (10,20,30)]
print(f'Length of mixed_list       : {len(mixed_list)}')            # (10,20,30) is a single element of mixed_list
print(f'10 is in mixed_list        : {10 in mixed_list}')           # 10 is not an element of mixed_list
print(f'(10,20,30) is in mixed_list: {(10,20,30) in mixed_list}')   # (10,20,30) is  an element of mixed_list

Length of mixed_list       : 5
10 is in mixed_list        : False
(10,20,30) is in mixed_list: True

**Remark**
It is possible to access the elements of the stuple by using chain indexing.

In [52]:
mixed_list = ['USA', 2, True, 9.123, (10,20,30)]
print(f'mixed_list[-1]: {mixed_list[-1]}')          # mixed_list[-1] = (10,20,30) is a tuple
print(f'mixed_list[-1][0]: {mixed_list[-1][0]}')    # indexing of t[-1] = (10,20,30)
print(f'mixed_list[-1][1]: {mixed_list[-1][1]}')
print(f'mixed_list[-1][2]: {mixed_list[-1][2]}')

mixed_list[-1]: (10, 20, 30)
mixed_list[-1][0]: 10
mixed_list[-1][1]: 20
mixed_list[-1][2]: 30

### Operators on Lists
The operators  `+`, `*`, `in` and `not in`  behave similar to strings and tuples.

**Examples**

In [53]:
numbers = [1,2,3,4]
letters = ['a','b','c','d']

In [54]:
# Concatenation returns a new list

print(f'numbers + letters = {numbers + letters}')
print(f'numbers           = {numbers}')       # no change
print(f'letters           = {letters}')       # no change

numbers + letters = [1, 2, 3, 4, 'a', 'b', 'c', 'd']
numbers           = [1, 2, 3, 4]
letters           = ['a', 'b', 'c', 'd']

In [55]:
# Repetition returns a new list

print(f'letters*3 = {letters*3}')
print(f'letters   = {letters}')       # no change

letters*3 = ['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']
letters   = ['a', 'b', 'c', 'd']

In [56]:
# Is 5 in  numbers?

print(f' 5 is in numbers list    : {5  in numbers}' )
print(f' 5 is not in numbers list: {5  not in numbers}' )

 5 is in numbers list    : False
 5 is not in numbers list: True

In [57]:
# Is 3 in  numbers?

print(f' 3 is in numbers list    : {3  in numbers}' )
print(f' 3 is not in numbers list: {3  not in numbers}' )

 3 is in numbers list    : True
 3 is not in numbers list: False

### Mutable
Unlike strings and tuples lists are mutable which means they can  be modified.
- By using the list methods new elements can be added, existing ones can be removed and order of the lements can be changed. 
- For example, you can change the first element of a given list as follows:

In [58]:
numbers = [1,2,3,4]
numbers[0] = 99   # first element is changed to 99
print(numbers)

[99, 2, 3, 4]

### List Methods
- Except the magic methods (the ones with the underscores) there are 11 methods of lists.

In [59]:
# methods of lists
# dir() returns a list

print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [60]:
# non magic methods by using slicing
print(dir(list)[-11:])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### append()
It adds a new element to a list. The new element will be the last element of  the list.

In [61]:
numbers = [10,20,30]
print(f'numbers list before using append(): {numbers}')

# add 99 to numbers list
numbers.append(99)

print(f'numbers list after using append() : {numbers}')

numbers list before using append(): [10, 20, 30]
numbers list after using append() : [10, 20, 30, 99]

#### clear()
It removes all elements from the list and it becomes an empty list.

In [62]:
numbers = [10,20,30]
print(f'numbers list before using clear(): {numbers}')

# remove all elemenets of numbers list
numbers.clear()

print(f'numbers list after using clear() : {numbers}')

numbers list before using clear(): [10, 20, 30]
numbers list after using clear() : []

#### copy()
It returns a new list with the same elements.

In [63]:
numbers = [10,20,30]
print(f'numbers list     : {numbers}')

# copy of numbers list
numbers_copy = numbers.copy()

print(f'numbers_copy list: {numbers}')

numbers list     : [10, 20, 30]
numbers_copy list: [10, 20, 30]

#### count()
- It returns the number of occurence of a given value in a list.

In [64]:
numbers = [1,1,2,2,2,2,2,3,3,3,3,4]
print(f'Number of 1  in numbers: {numbers.count(1)}')   
print(f'Number of 2  in numbers: {numbers.count(2)}')
print(f'Number of 3  in numbers: {numbers.count(3)}')
print(f'Number of 4  in numbers: {numbers.count(4)}')
print(f'Number of 5  in numbers: {numbers.count(5)}')

Number of 1  in numbers: 2
Number of 2  in numbers: 5
Number of 3  in numbers: 4
Number of 4  in numbers: 1
Number of 5  in numbers: 0

#### extend()
It adds all elements of a list to another list.
- It is in the form of `list1.extend(list2)`.
- All elements of list2 will be added to list1.
- No change on list2.

In [65]:
numbers = [10, 20, 30]
letters = ['a','b','c','d']
print(f'letters list before extending: {letters}  ---- numbers list before extending: {numbers}')

numbers.extend(letters)

print(f'letters list after extending : {letters}  ---- numbers list after extending : {numbers}')

letters list before extending: ['a', 'b', 'c', 'd']  ---- numbers list before extending: [10, 20, 30]
letters list after extending : ['a', 'b', 'c', 'd']  ---- numbers list after extending : [10, 20, 30, 'a', 'b', 'c', 'd']

#### index()
- It returns the index of a given value in a list.
- It gives an error message if value is not in the list.
- If an element is repeated, the smallest index will be returned.

In [66]:
numbers = [10, 20, 30,10]
print(f'The index of 10 in numbers: {numbers.index(10)}')   # index of first 10
print(f'The index of 20 in numbers: {numbers.index(20)}') 
print(f'The index of 30 in numbers: {numbers.index(30)}') 
# print(f'The index of 40 in numbers: {numbers.index(40)}')  ---> ERROR

The index of 10 in numbers: 0
The index of 20 in numbers: 1
The index of 30 in numbers: 2

#### insert()
It adds a new value to a list. Apart from the  *append()* method the new value can be added to anywhere in the list.
- It is in the form of `insert(index, element)` 
  - The element will be added to the index position.
- Example: insert(3, 'USA') ---> 'USA' will be the index of 3 element in the list.

In [67]:
numbers = [10,20,30]
print(f'numbers list before using insert(): {numbers}')

# add 99 to numbers list as index of 2 element
numbers.insert(2, 99)   # index of 99 is 2

print(f'numbers list after using index()  : {numbers}')

numbers list before using insert(): [10, 20, 30]
numbers list after using index()  : [10, 20, 99, 30]

#### pop()
It removes an element from the list by suing the index of the element. 
- pop(i): removes the element in the i th index.
- pop() : removes the last element.
- It also returns the removed element.

In [68]:
numbers = [10,20,30]
print(f'numbers list before using pop(): {numbers}')

# remove the last element
numbers.pop()   # last element (30) is removed.

print(f'numbers list after using pop()  : {numbers}')

numbers list before using pop(): [10, 20, 30]
numbers list after using pop()  : [10, 20]

In [69]:
numbers = [10,20,30]
print(f'numbers list before using pop(1): {numbers}')

# remove the index of 1 element which is 20
numbers.pop(1)   # 20 is removed.

print(f'numbers list after using pop()  : {numbers}')

numbers list before using pop(1): [10, 20, 30]
numbers list after using pop()  : [10, 30]

#### remove()
It removes an element from the list by using the value itself not index as in pop().. 
- If there are more than one given element in the list then the first oone will be removed.

In [70]:
numbers = [10,20,30]
print(f'numbers list before using remove(): {numbers}')

# remove 20
numbers.remove(20)  

print(f'numbers list after using remove()  : {numbers}')

numbers list before using remove(): [10, 20, 30]
numbers list after using remove()  : [10, 30]

In [71]:
numbers = [10,20,30,20]
print(f'numbers list before using remove(): {numbers}')

# remove the first 20
numbers.remove(20)  

print(f'numbers list after using remove()  : {numbers}')

numbers list before using remove(): [10, 20, 30, 20]
numbers list after using remove()  : [10, 30, 20]

#### reverse()
It reverses the order of the elements in a list.

In [72]:
numbers = [10,20,30]
print(f'numbers list before using reverse(): {numbers}')

# reverse
numbers.reverse()  

print(f'numbers list after using reverse() : {numbers}')

numbers list before using reverse(): [10, 20, 30]
numbers list after using reverse() : [30, 20, 10]

#### sort()
It sorts the elements of a list in an ascending or descending order. 
- If the values are strings than dictionary order will be used.

In [73]:
numbers = [10,3,9,2,5,12,1,8]
print(f'numbers list before using sort(): {numbers}')

# ascending order
numbers.sort()  

print(f'numbers list after using sort() : {numbers}')

numbers list before using sort(): [10, 3, 9, 2, 5, 12, 1, 8]
numbers list after using sort() : [1, 2, 3, 5, 8, 9, 10, 12]

In [74]:
numbers = [10,3,9,2,5,12,1,8]
print(f'numbers list before using sort(): {numbers}')

# desscending order
numbers.sort(reverse=True)  

print(f'numbers list after using sort() : {numbers}')

numbers list before using sort(): [10, 3, 9, 2, 5, 12, 1, 8]
numbers list after using sort() : [12, 10, 9, 8, 5, 3, 2, 1]

In [75]:
letters = ['y', 'c', 'z','t','d']
print(f'numbers list before using sort(): {letters}')

# dictionary order
letters.sort()  

print(f'numbers list after using sort() : {letters}')

numbers list before using sort(): ['y', 'c', 'z', 't', 'd']
numbers list after using sort() : ['c', 'd', 't', 'y', 'z']

In [76]:
letters = ['y', 'c', 'z','t','d']
print(f'numbers list before using sort(): {letters}')

# opposite dictionary order
letters.sort(reverse=True)  

print(f'numbers list after using sort() : {letters}')

numbers list before using sort(): ['y', 'c', 'z', 't', 'd']
numbers list after using sort() : ['z', 'y', 't', 'd', 'c']