# Text Cell Questions

![Section Title: Text Cell Questions](title_pict/text_cell_questions2.png)

## Question
Please type the passages into text cells following the provided format.

![](pict/colab_text_exer1.png)

```{admonition} Solution
:class: toggle
![# My Life
I am 25 years old. *I am from Spain. I have been to the following cities in Italy, during the following years and months*
***
Europe
- Italy
    - Milan
        - 1993
            - March
            - April
        - 1994
            - January
            - June
            - July
    - Rome
        1. 1990
            - September
            - October
        4. 1990
            - August 
***
I worked as an **engineer** in large companies including `Siemens`.](pict/colab_text_exer1_sol.png)

## Question
![](pict/colab_text_exer2.png)

```{admonition} Solution
:class: toggle
![<center> Education </center>

<font color=red size=30> I have a BS degree in computer science. </font>

> I want to have a master degree in data science soon.

This table shows my graduation years and locations.

|School	| Graduation Date | Country|  
| --- | --- | --- |  
| Elementary | 1970 | Spain |  
| Middle | 1973 | Spain |
| High | 1977 | Italy | 
| College | 1981 | Germany| ](pict/colab_text_exer2_sol.png)