# Lists Code
- Please solve the following questions using Python code.&emsp;&emsp;

## Question
Prompt the user for a name and store each character of the name as a lowercase letter in a list, avoiding the use of the *list()* method.

**Solution**

```{admonition} Solution
:class: toggle

``` python
name = input('Enter your name: ')

char_list = []

for i in name:
  char_list.append(i.lower())

print(f'Leters: {char_list}')
```

**Sample Output**  
Enter your name:  Amelia  
Leters: ['a', 'm', 'e', 'l', 'i', 'a']

## Question
Prompt the user for comma-separated numbers and store them in a list, where each number is treated as an element with a data type of float. 
- Use only one input function and make use of the split() method for string parsing.
  
**Solution**

```{admonition} Solution
:class: toggle

``` python
numbers = input('Enter numbers in a comma separated form: ')

number_list_str = numbers.split(',')
number_list_float = []

for i in number_list_str:
  number_list_float.append(float(i))

print(f'Numbers in list as float: {number_list_float}')
```
**Sample Output**  
Enter numbers in a comma separated form:  3,8,5,1,7  
Numbers in list as float: [3.0, 8.0, 5.0, 1.0, 7.0]

## Question

Use a for loop to identify numbers in the number_list that are divisible by 5 and greater than 23, storing them in a new list named five_list.

In [1]:
number_list = [58, 82, 9, 25, 11, 36, 43, 27, 95, 75]

**Solution**

In [2]:
five_list = []

for i in number_list:
  if i%5==0 and i>23:
    five_list.append(i)

print(five_list)

[25, 95, 75]

## Question

Use a for loop to reverse the elements of char_list and store them in a new list named reverse_list, without using any reverse method or indexing step.

In [3]:
char_list = ['k', 'p', 'f', 'l', 'j', 'l', 'u', 'g', 't', 'a']

**Solution-1**

In [4]:
reverse_list = []

for i in range(1,len(char_list)+1):
  reverse_list.append(char_list[-i])

print(reverse_list)

['a', 't', 'g', 'u', 'l', 'j', 'l', 'f', 'p', 'k']

**Solution-2**

In [5]:
reverse_list = []

for char in char_list:
    reverse_list.insert(0, char)
    
print(reverse_list)

['a', 't', 'g', 'u', 'l', 'j', 'l', 'f', 'p', 'k']

**Solution-3**

In [6]:
reverse_list = [char_list[-i] for i in range (1,len(char_list)+1)]

## Question
Use the split method to identify words in the given text that start with 'o' or 'O' excluding 'of,' 'or,' and 'on.'
- Store the identified words in a tuple named o_tuple.

In [7]:
text = """ Basketball is a team sport in which two teams, most commonly of five players each, opposing one another on a rectangular court, compete with the primary objective of shooting a basketball (approximately 9.4 inches (24 cm) in diameter) through the defender's hoop (a basket 18 inches (46 cm) in diameter mounted 10 feet (3.048 m) high to a backboard at each end of the court) while preventing the opposing team from shooting through their own hoop. A field goal is worth two points, unless made from behind the three-point line, when it is worth three. After a foul, timed play stops and the player fouled or designated to shoot a technical foul is given one, two or three one-point free throws. The team with the most points at the end of the game wins, but if regulation play expires with the score tied, an additional period of play (overtime) is mandated.

Players advance the ball by bouncing it while walking or running (dribbling) or by passing it to a teammate, both of which require considerable skill. On offense, players may use a variety of shotsâ€”the lay-up, the jump shot, or a dunk; on defense, they may steal the ball from a dribbler, intercept passes, or block shots; either offense or defense may collect a rebound, that is, a missed shot that bounces from rim or backboard. It is a violation to lift or drag one's pivot foot without dribbling the ball, to carry it, or to hold the ball with both hands then resume dribbling.

The five players on each side fall into five playing positions. The tallest player is usually the center, the second-tallest and strongest is the power forward, a slightly shorter but more agile player is the small forward, and the shortest players or the best ball handlers are the shooting guard and the point guard, who implements the coach's game plan by managing the execution of offensive and defensive plays (player positioning). Informally, players may play three-on-three, two-on-two, and one-on-one.

Invented in 1891 by Canadian-American gym teacher James Naismith in Springfield, Massachusetts, United States, basketball has evolved to become one of the world's most popular and widely viewed sports.[1] The National Basketball Association (NBA) is the most significant professional basketball league in the world in terms of popularity, salaries, talent, and level of competition.[2][3] Outside North America, the top clubs from national leagues qualify to continental championships such as the EuroLeague and the Basketball Champions League Americas. The FIBA Basketball World Cup and Men's Olympic Basketball Tournament are the major international events of the sport and attract top national teams from around the world. Each continent hosts regional competitions for national teams, like EuroBasket and FIBA AmeriCup.

The FIBA Women's Basketball World Cup and Women's Olympic Basketball Tournament feature top national teams from continental championships. The main North American league is the WNBA (NCAA Women's Division I Basketball Championship is also popular), whereas the strongest European clubs participate in the EuroLeague Women. """

**Solution**

In [8]:
words = text.split()
o_tuple = ()

for i in words:
  if i[0].lower()=='o' and (i.lower() not in {'on', 'of', 'or'}):
    o_tuple += (i,)

print(o_tuple)

('opposing',
 'one',
 'objective',
 'opposing',
 'own',
 'one,',
 'one-point',
 'offense,',
 'offense',
 "one's",
 'offensive',
 'one-on-one.',
 'one',
 'Outside',
 'Olympic',
 'Olympic')

## Question
For the given number_list, compute the cumulative sum and store it in a list named cum_list.

Example: number_list = [1,4,3,7,9,10]  
Output:
- [1,1+4,1+4+3,1+4+3+7,1+4+3+7+9,1+4+3+7+9+10]
- [1,5,8,15,24,34]

In [9]:
number_list = [1, 4, 8, 1, 2, 4, 7, 5, 3, 3]

**Solution**

In [10]:
cum_list = number_list[:1]

for i in number_list[1:]:
  cum_list.append(i+cum_list[-1])

print(cum_list)

[1, 5, 13, 14, 16, 20, 27, 32, 35, 38]

## Question
Use a list comprehension to construct the following list.



- ['file_1_question', 'file_2_question',...........,'file_5_question']
  
**Solution**

In [11]:
file_list = ['file_'+str(i)+'_question' for i in range(1,6)]
print(file_list)

['file_1_question', 'file_2_question', 'file_3_question', 'file_4_question', 'file_5_question']

## Question
Construct a list using a list comprehension, which consists of the last letters of the given list.

In [12]:
name_list = ['Henry', 'Jack', 'Amanda', 'Ashley', 'Michael', 'Peter']

**Solution**

In [13]:
char_list = [ i[-1] for i in name_list]

print(char_list)

['y', 'k', 'a', 'y', 'l', 'r']

## Question

Construct a string by concatenating the second letter of each string in the given list. 
- Hint: Access and concatenate 'e', 'a', 'm', 's', 'i', 'e

In [14]:
name_list = ['Henry', 'Jack', 'Amanda', 'Ashley', 'Michael', 'Peter']

**Solution**

In [15]:
result = ''

for name in name_list:
  result += name[1]

print(result)

eamsie

## Question

Prompt the user for a name and store its lowercase letters in one list and uppercase letters in another, excluding any non-alphabetical characters
**Solution**

```{admonition} Solution
:class: toggle

``` python
name = input('Enter a name: ')

lower_list, upper_list = [], []
for i in name:
  if i.isalpha():
    if i == i.lower():
      lower_list.append(i)
    else:
      upper_list.append(i)

print(f'Lower Case Letters: {lower_list}')
print(f'Upper Case Letters: {upper_list}')
```
**Sample Output**  
Enter a name:  miCHaEl  
Lower Case Letters: ['m', 'i', 'a', 'l']  
Upper Case Letters: ['C', 'H', 'E']

## Question

Generate a list of numbers from 1 to 9, then use the shuffle method from the random library to alter the order of these numbers.
- Display the resulting list in a table format.
- Example: shuffled_list = [7, 8, 3, 1, 2, 4, 5, 9, 6]
  - Output:

\-\-\-\-\-\-\-  
|7|8|3|  
\-\-\-\-\-\-\-     
|1|2|4|  
\-\-\-\-\-\-\-      
|5|9|6|  
\-\-\-\-\-\-\-

**Solution-1**

In [16]:
# simple solution

import random
number_list = list(range(1,10))
random.shuffle(number_list)

print('-'*7)
print(f'|{number_list[0]}|{number_list[1]}|{number_list[2]}|')
print('-'*7)
print(f'|{number_list[3]}|{number_list[4]}|{number_list[5]}|')
print('-'*7)
print(f'|{number_list[6]}|{number_list[7]}|{number_list[8]}|')
print('-'*7)

-------
|7|8|3|
-------
|5|6|4|
-------
|2|9|1|
-------

**Solution-2**

In [17]:
# for loop solution

import random
number_list = list(range(1,10))
random.shuffle(number_list)

for i in range(3):
  print('-'*7)
  for j in range(3):
    print(f'|{number_list[3*i+j]}', end='')
  print('|')
print('-'*7)

-------
|4|8|9|
-------
|5|6|1|
-------
|2|3|7|
-------

## Question
Create a list of length 10 with values randomly chosen from 'P' or 'N', where 'P' represents positive and 'N' represents negative test results.
- Use either the random module or numpy.random.
- Construct a new list replacing 'N' with 0 and 'P' with 1.
- Example
  - old_list &nbsp; = ['M', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F']
  - new_list =        [&nbsp;1&nbsp; ,&nbsp; 0&nbsp;, &nbsp;1&nbsp;,
  &nbsp;1&nbsp;,&nbsp; 0&nbsp;,&nbsp; 1&nbsp;,&nbsp; 0&nbsp;,
  &nbsp; 1&nbsp;, &nbsp; 1&nbsp;,&nbsp;0]

**Solution**

In [18]:
import numpy as np
old_list = np.random.choice(['P', 'N'], 10)
new_list = []

for i in old_list:
  if i == 'P':
    new_list.append(1)
  else:
    new_list.append(0)

print('Old List:', old_list)
print('New List:', new_list)

Old List: ['N' 'N' 'N' 'P' 'P' 'P' 'N' 'N' 'P' 'P']
New List: [0, 0, 0, 1, 1, 1, 0, 0, 1, 1]

## Question
For the given list, identify the maximum and minimum elements. Then, subtract the minimum value from each element in the list and divide the result by the difference between the maximum and minimum elements.
-  Example: given list is [3, 8, 2, 9, 4, 12, 5]
  - maximum value = 12, minimum value = 2
  - subtract 2 from each element: [1, 6, 0, 7, 2, 10, 3]
  - divide each element by max - min = 12 - 2 = 10
    - output: [0.1, 0.6, 0, 0.7, 0.2, 1, 0.3]

In [19]:
number_list = [3, 8, 2, 9, 4, 12, 5]

**Solution-1**

In [20]:
max_value = max(number_list)
min_value = min(number_list)

result = [(i-min_value)/(max_value-min_value) for i in number_list ]
print(result)

[0.1, 0.6, 0.0, 0.7, 0.2, 1.0, 0.3]

**Solution-2**

In [21]:
max_value = max(number_list)
min_value = min(number_list)

number_list2 = []
for i in number_list:
  number_list2.append(i-min_value)

number_list3 = []
for i in number_list2:
  number_list3.append(i/(max_value-min_value))

print(number_list3)

[0.1, 0.6, 0.0, 0.7, 0.2, 1.0, 0.3]

## Question
For the given list, calculate the mean and standard deviation. 
- Subtract the mean from each element in the list and divide the result by the standard deviation.
- You may use functions imported from either the numpy or statistics libraries for mean and standard deviation calculations.

In [22]:
number_list = [3, 8, 2, 9, 4, 12, 5]

**Solution-1**

In [23]:
import statistics

mean_value = statistics.mean(number_list)
std_value  = statistics.pstdev(number_list)

result = [(i-mean_value)/std_value for i in number_list ]
print(result)

[-0.9363821838346236, 0.5533167449931865, -1.2343219696001857, 0.8512565307587485, -0.6384423980690616, 1.7450758880554345, -0.34050261230349954]

**Solution-2**

In [24]:
import statistics
mean_value = statistics.mean(number_list)
std_value  = statistics.pstdev(number_list)

number_list2 = []
for i in number_list:
  number_list2.append(i-mean_value)

number_list3 = []
for i in number_list2:
  number_list3.append(i/std_value)

print(number_list3)

[-0.9363821838346236, 0.5533167449931865, -1.2343219696001857, 0.8512565307587485, -0.6384423980690616, 1.7450758880554345, -0.34050261230349954]

## Question
Write a program that prompts the user to input a letter. 
- Print the number of occurrences of this character in the provided text using a for loop.
- Additionally, store the index of each occurrence of this letter in a list.

In [25]:
text = """ Python
Van Rossum at the 2008 Google I/O Developer's Conference
Van Rossum at the 2006 O'Reilly Open Source Convention (OSCON)
In December 1989, Van Rossum had been looking for a "'hobby' programming project that would keep [him] occupied during the week around Christmas"
 as his office was closed when he decided to write an interpreter for a "new scripting language [he] had been thinking about lately: a descendant
  of ABC that would appeal to Unix/C hackers". He attributes choosing the name "Python" to "being in a slightly irreverent mood (and a big fan of
Monty Python's Flying Circus)".[20]
He has explained that Python's predecessor, ABC, was inspired by SETL, noting that ABC co-developer Lambert Meertens had "spent a year with the
SETL group at NYU before coming up with the final ABC design".[21]
In July 2018, Van Rossum announced that he would be stepping down from the position of BDFL of the Python programming language.[22]

1999 "Computer Programming for Everybody" proposal
In 1999, Van Rossum submitted a funding proposal to DARPA called "Computer Programming for Everybody", in which he further defined his goals for
 Python:

An easy and intuitive language just as powerful as major competitors
Open source, so anyone can contribute to its development
Code that is as understandable as plain English
Suitability for everyday tasks, allowing for short development times
In 2018, Python was the third most popular language on GitHub, a social coding website, behind JavaScript and Java.[23] According to a
 programming language popularity survey[24] it is consistently among the top 10 most mentioned languages in job postings. Furthermore,
 Python has been among the 10 most popular programming languages every year since 2004 according to the TIOBE Programming Community Index.[25]"""

**Solution**

```{admonition} Solution
:class: toggle

``` python
char = input('Please enter a character:')
count = 0
index_list = [] 

for i in text:
    if i == char:
        count +=1
        if len(index_list) == 0:
          index_list.append(text.find(char))
        else:
          index_list.append(text.find(char, index_list[-1]+1))

print(f'Number of {char} is {count}.')
print(f'Indexes: {index_list}')
```
**Sample Output**  
Please enter a character: k  
Number of k is 6.  
Indexes: [169, 220, 254, 388, 460, 1354]

## Question
Generate a list containing randomly generated five-letter strings, with a length of 10. 
- Use the random.choice() function for the construction of the list.

**Solution**

In [26]:
import string
import random

list5 = []

for i in range(10):
  random_word = ''
  for j in range(5):
    random_word += random.choice(string.ascii_lowercase)
  list5.append(random_word
               )
print(list5)

['zygmd', 'lbdho', 'osaal', 'moeiw', 'wdekx', 'bbzfh', 'auhkm', 'lqvep', 'xfcaq', 'ttbcc']