# Sets Exercises and Solutions

## Warm Up Question-1
Create a set that includes an integer, a decimal number, a string, and a boolean value.

In [9]:
mixed_set = {4.56, 'Bird', True, False, True}
mixed_set

{4.56, 'Bird', False, True}

## Warm Up Question-2
Calculate the maximum value, minimum value, total sum, and the count of elements in the sequence of numbers 
9,3,1,7,4,2,8,76,10 using a set.

In [11]:
numbers = {9,3,1,7,4,2,8,76,10}
print(f'Count  : {len(numbers)}')
print(f'Maximum: {max(numbers)}')
print(f'Minimum: {min(numbers)}')
print(f'Sum    : {sum(numbers)}')

Count  : 9
Maximum: 76
Minimum: 1
Sum    : 120

## Warm Up Question-3
Add three additional elements to this set: {4,6,1}.

In [15]:
numbers = {4,6,1}
numbers.add(10)
numbers.add(20)
numbers.add(30)
print(numbers)

{1, 4, 6, 10, 20, 30}

## Warm Up Question-4
Count the number of the unique values in the following  sequence: 4,2,8,3,3,9,3,3,5,6,7,8.

In [23]:
numbers = {4,2,8,3,3,9,3,3,5,6,7,8}
print(f' Unique Values: {numbers}')
print(f' Number of Unique Values: {len(numbers)}')

 Unique Values: {2, 3, 4, 5, 6, 7, 8, 9}
 Number of Unique Values: 8

## Warm Up Question-5
Use the remove() method to delete 6 from the set {9,7,1,2,6,3,4,5,8,6}.

In [27]:
numbers = {9,7,1,2,6,3,4,5,8,6}
numbers.remove(4)
print(numbers)

{1, 2, 3, 5, 6, 7, 8, 9}

## Warm Up Question-6
Calculate the sum of the odd numbers in this set: {5, 6, 1, 2, 3, 9, 8}

In [31]:
numbers = {5, 6, 1, 2, 3, 9, 8}
total = 0

for i in numbers:
    if i %2 == 1 :
        total += i

print(total)

18

## Question-1

Create a set with the elements: *1, 2.5, True, 'Texas', (10,20,30)*  
Perform the following operations on it, printing it after each operation:   

- Add 99.
- Add all elements from the list [2, 6, 5, 9, 1, 1, 5].
- Remove ‘Texas’
- Remove the tuple (10,20,30)
- Verify if 8 is present in the set.
- Verify if 9 is NOT present in the set.
- Print the number of elements in the set.
- Print the sum of elements in the set.
- Print the maximum element in the set.
- Print the minimum element in the set.

**Solution**
``` python
myset = {1, 2.5, True, 'Texas', (10,20,30)}
myset.add(99)
print(myset)
myset.update([2, 6, 5, 9, 1, 1, 5])
print(myset)
myset.remove('Texas')
print(myset)
myset.remove((10, 20, 30))
print(8 in myset)
print(9 not in myset)
print(myset)
print(f'# of elements: {len(myset)}')
print(f'Sum          : {sum(myset)}')
print(f'Max          : {max(myset)}')
print(f'Min          : {min(myset)}')

## Question-2

For the two sets S1 and S2 below print:
- Union of S1 and S2
- Intersection of S1 and S2
- The elements in S1 but not in S2.
- The elements in S2 but not in S1.
- The elements in one of the two sets but not both.
- Verify if S1 is subset of S2.
- Verify if S1 contains of S2.
- Verify if S1 and S2 have a common element.

In [2]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8,9}

**Solution**
``` python
  
print(f'Union                 : {S1 | S2}')
print(f'Intersection          : {S1 & S2}')
print(f'S1-S2                 : {S1 - S2}')
print(f'S2-S1                 : {S2 - S1}')
print(f'Symmetric Difference  : {S1 ^ S2}')
print(f'S1 is a subset of S2  : {S1.issubset(S2)}')
print(f'S1 contains S2        : {S1.issuperset(S2)}')
print(f'S1 and S2 are disjoint: {S1.isdisjoint(S2)}')

## Question-3
Store the months from the "dates" tuple as an integers into a set using a for loop.
- Hint: Use the split() method of the strings.

In [6]:
dates = ('10/25/1987', '3/2/2023',  '9/2/2020', '10/25/1987', '3/2/2023',  '9/2/2020', '5/12/2019')

**Solution**
``` python

month_set = set()

for date in dates:
    month_set.add(int(date.split('/')[1]))

print(month_set)

## Question-4
Generate two strings containing randomly selected 10 lowercase letters. 
- Print each character from both strings, ensuring that each character is only printed once.
- Hint: You can use the choices() method of the random module
- Hint: You can use the join() method of the string module.

**Solution**
``` python

import random 
import string

lower_letters = string.ascii_lowercase

text1 = ''.join(random.choices(lower_letters, k=10))

text2 = ''.join(random.choices(lower_letters, k=10))

common_char = set(text1) & set(text2)

for char in common_char:
    print(char)

## Question-5
Write a program that prompts the user to input integer numbers. 
- Store each given number in a list.
- Once there are three unique numbers, stop further input and display these numbers.

**Sample Output**

Enter an integer: 6  
Enter an integer: 6  
Enter an integer: 6  
Enter an integer: 5  
Enter an integer: 5  
Enter an integer: 7  
Unique numbers  : {5, 6, 7}

**Solution**
``` python
  
unique_set = set()
number_list = []

while len(unique_set) < 3:
    number = int(input('Enter an integer:'))
    number_list.append(number)
    unique_set = set(number_list)

print(f'Unique numbers  : {unique_set}')