# Chp-10: Sets

![](title_pict/sets2.png)

Sets are an unordered collection of values.
- Since there is no order there is no indexing for sets.
- It can contain a mixed type of elements.
- Curly brackets `{}` are used to create sets.
    - **Warning:** `{}` is NOT an empty set. It is an empty *dictionary* that will be covered in later chapters.
- Sets are mutable. so they can be modified like lists.
- A tuple can be an element of a set.
- A list cannot be an element of a set.
- You can use the `set()` function to convert strings, tuples, and lists into a set.
  - Only unique values are stored in sets (no repetition).
  - **Warning:** You will lose the order of the elements when you use the conversion.
  - Example:
    - ``` python
      my_list = [1,4,7,7,8]
      
      my_set = set(my_list)

      print(myset)
      ```
    - Output: 1,4,7,8

## Create Sets

In [12]:
# empty set
empty_set = set()

print(f'Empty set         : {empty_set}')
print(f'Type of emppty_set: {type(empty_set)}')

Empty set         : set()
Type of emppty_set: <class 'set'>

In [14]:
# set with mixed values: str, int, bool, float

s = {'USA', 2, True, 9.123}      

print(type(s))

<class 'set'>

In [18]:
# set removes the repetitions

s = {'USA', 2, True, 9.123, 'USA', 'USA', 'USA', 'USA'}      

print(s)   # only one 'USA' will be in the set s

{True, 2, 'USA', 9.123}

In [19]:
# tuple and set in a set
# set with mixed values: str, int, bool, float, tuple, set
# (10,20,30) is a tuple and ['a','b'] is a list in the list mixed_list.

s = ['USA', 2, True, 9.123, (10,20,30), {'a','b'}]       
print(type(s))

<class 'list'>

``` python
# a list can not be an element of a set

s = {'USA', 2, True, 9.123, (10,20,30), ['a','b']}         # ERROR

```

## set() function
- The built-in `set()` function converts strings, tuples, and lists to a set, removing any duplicates and retaining only unique elements.

In [23]:
char_set = set('Hello')  # convert string to set

print(f'Type of char_set: {type(char_set)}')
print(f'char_set        : {char_set}')

Type of char_set: <class 'set'>
char_set        : {'H', 'e', 'o', 'l'}

In [24]:
t = (1,2,3,4,4,4)
char_set = set(t)  # convert tuple to  set

print(f'Type of char_set: {type(char_set)}')
print(f'char_set        : {char_set}')

Type of char_set: <class 'set'>
char_set        : {1, 2, 3, 4}

In [25]:
number_list = [1,2,3,4,4,4]
char_set = set(number_list)  # convert list to  set

print(f'Type of char_set: {type(char_set)}')
print(f'char_set        : {char_set}')

Type of char_set: <class 'set'>
char_set        : {1, 2, 3, 4}

**Remark:** By using *tuple()* and  *list()* functions, sets can be converted to tuples and lists, respectively.
 - It's important to note that the conversion doesn't preserve any specific order, as sets are inherently unordered collections.

In [29]:
s = {1,2,3,4}   # set

s_tuple = tuple(s)      # set ---> tuple

print(f'Type of s_tuple: {type(s_tuple)}')
print(f's_tuple        : {s_tuple}')

Type of s_tuple: <class 'tuple'>
s_tuple        : (1, 2, 3, 4)

In [30]:
s = {1,2,3,4}   # set

s_list = list(s)      # set ---> list

print(f'Type of s_list: {type(s_list)}')
print(f's_list        : {s_list}')

Type of s_list: <class 'list'>
s_list        : [1, 2, 3, 4]

## Functions on sets
- len(), max(), min(), and sum() functions can be applied to sets, similar to other data types like tuples and lists.

In [32]:
numbers = {7,3,1,9,6,4}

print(f'Length : {len(numbers)}')
print(f'Maximum: {max(numbers)}')
print(f'Minimum: {min(numbers)}')
print(f'Sum    : {sum(numbers)}')

Length : 6
Maximum: 9
Minimum: 1
Sum    : 30

In [33]:
letters = {'r', 't', 'n', 'a', 'd'}

print(f'Length : {len(letters)}')
print(f'Maximum: {max(letters)}')    # dictionary order
print(f'Minimum: {min(letters)}')

Length : 5
Maximum: t
Minimum: a

## Set Operations

The available operators for sets in Python include `&` (intersection), `|` (union), `-` (difference), `^` (symmetric difference), `in`, and `not in`.

### Intersection 
The `&` (ampersand) operator returns a new set consisting of the common elements of the two sets.

In [56]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f'Intersection of s1 and s2: {s1&s2}')

Intersection of s1 and s2: {3, 4, 5}

- The *intersection()* method of sets can also be used to find the common elements between two sets.

In [55]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f's1 intersection s2 ; {s1.intersection(s2)}')
print(f'No change on s1    : {s1}')

s1 intersection s2 ; {3, 4, 5}
No change on s1    : {1, 2, 3, 4, 5}

### Union
The `|` (pipe) operator returns a new set consisting of the combined elements of the two sets.

In [57]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f'Union of s1 and s2: {s1|s2}')

Union of s1 and s2: {1, 2, 3, 4, 5, 6, 7}

- The *union()* method of sets can also be used to combine elements from two sets into a new set.

In [54]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f's1 union s2; {s1.union(s2)}')
print(f's1         : {s1}')               # No change on s1

s1 union s2; {1, 2, 3, 4, 5, 6, 7}
s1         : {1, 2, 3, 4, 5}

### Difference

The `-` (dash) operator returns a new set consisting of the elements in the first set but not in the second set.
- `s1 - s2`: elements in *s1* but not in *s2*.
- `s2 - s1`: elements in *s2* but not in *s1*.

In [60]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f's1 - s2: {s1-s2}')
print(f's2 - s1: {s2-s1}')

s1 - s2: {1, 2}
s2 - s1: {6, 7}

- The difference() method of sets can also be used to obtain a new set consisting of the elements in the first set but not in the second set.

In [61]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f's1 - s2: {s1.difference(s2)}')
print(f's2 - s1: {s2.difference(s1)}')

s1 - s2: {1, 2}
s2 - s1: {6, 7}

### Symmetric Difference
The ^ (caret) operator returns a new set consisting of elements in either one of the two sets but not both. 
- `s1 ^ s2` and  `s2 ^ s1` are same.

In [63]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f's1 ^ s2: {s1^s2}')
print(f's2 ^ s1: {s2^s1}')

s1 ^ s2: {1, 2, 6, 7}
s2 ^ s1: {1, 2, 6, 7}

- The symmetric_difference() method of sets can also be used to obtain a new set consisting of the elements in either one of the two sets but not both.

In [65]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(f's1 - s2: {s1.symmetric_difference(s2)}')
print(f's2 - s1: {s2.symmetric_difference(s1)}')

s1 - s2: {1, 2, 6, 7}
s2 - s1: {1, 2, 6, 7}

### in & not in
`in` checks if a value is part of a set, while `not in` verifies if a value is absent from a set. 
- Both operations yield a Boolean result, either True or False.

In [67]:
s1 = {1,2,3,4,5}

print(f' 5 is in s1    : {5  in s1}' )
print(f' 5 is not in s1: {5  not in s1}' )

 5 is in s1    : True
 5 is not in s1: False

In [68]:
s1 = {1,2,3,4,5}

print(f' 9 is in s1    : {9  in s1}' )
print(f' 9 is not in s1: {9  not in s1}' )

 9 is in s1    : False
 9 is not in s1: True

### Mutable
Unlike strings and tuples, and similar to lists, sets are mutable, allowing them to be modified.
- The set methods enable the addition of new elements and the removal of existing ones.
- Set elements themselves cannot be changed, but new items can be added or existing ones removed.

## Set Methods
Except for the magic methods (those with underscores), there are 17 methods for sets.
- We have already covered intersection, union, difference, and symmetric difference above.
- You can execute help(set) for more details.

In [141]:
# methods of sets
# dir() returns a list

print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [73]:
print(dir(set)[-17:])

['add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

### add()
It adds a new element to a set.

In [142]:
s = {1,2,3,4,5}
print(f'set s before using add(): {s}')

# add 99
s.add(99)   

print(f'set s after using add() : {s}')

set s before using add(): {1, 2, 3, 4, 5}
set s after using add() : {1, 2, 3, 4, 5, 99}

### clear()
It removes all elements from the set, making it an empty set.

In [82]:
s = {1,2,3,4,5}
print(f'set s before using clear(): {s}')

# removes all elements
s.clear()   

print(f'set s after using clear() : {s}')

set s before using clear(): {1, 2, 3, 4, 5}
set s after using clear() : set()

### copy()
It returns a new set with the same elements.

In [83]:
s = {1,2,3,4,5}
print(f'set s before using copy(): {s}')

# make a copy
s_copy = s1.copy()   

print(f'set s after using copy() : {s}')
print(f'set s_copy               : {s_copy}')

set s before using copy(): {1, 2, 3, 4, 5}
set s after using copy() : {1, 2, 3, 4, 5}
set s_copy               : {1, 2, 3, 4, 5}

### isdisjoint()
It checks if there are no common elements between the two given sets.

In [86]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

# False: 3,4,5 are common
print(f' s1 and s2 are disjoint: {s1.isdisjoint(s2)}' )

 s1 and s2 are disjoint: False

In [91]:
s1 = {1,2,3,4,5}
s2 = {10,20,30}

# True: no common element
print(f' s1 and s2 are disjoint: {s1.isdisjoint(s2)}' )

 s1 and s2 are disjoint: True

### issubset()
It checks if the first set is a subset of the second set.

In [92]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

# False: s1 is not subset of s2
print(f' s1 is subset of s2: {s1.issubset(s2)}' )

 s1 is subset of s2: False

In [90]:
s1 = {3,4,5}
s2 = {3,4,5,6,7}

# True: s1 is not subset of s2
print(f' s1 is subset of s2: {s1.issubset(s2)}' )

 s1 is subset of s2: True

### isuperset()
It checks if the first set contains the second set.

In [95]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

# False: s1 idoes not contain s2
print(f' s1 is superset of s2: {s1.issuperset(s2)}' )

 s1 is super of s2: False

In [96]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

# True: s1 contains s2
print(f' s1 is superset of s2: {s1.issuperset(s2)}' )

 s1 is superset of s2: True

### pop()
It removes a randomly selected element from the set. 
- If the set is empty, an error message is raised.

In [146]:
s = {1,2,3,4,5}
print(f'set s before using pop(): {s}')

# removes a ranodm element
removed_element = s.pop()   

print(f'set s after using pop(): {s}')
print(f'removed element        : {removed_element}')

set s before using pop(): {1, 2, 3, 4, 5}
set s after using pop(): {2, 3, 4, 5}
removed element        : 1

### remove()
It removes the specified element from the set. 
- If the element does not exist in the set, an error message is raised.

In [144]:
s = {1,2,3,4,5}
print(f'set s before using remove(): {s}')

# removes 3
s.remove(3)   

print(f'set s  after using remove(): {s}')

set s before using remove(): {1, 2, 3, 4, 5}
set s  after using remove(): {1, 2, 4, 5}

## Iterations and Sets
We can use a *for* loop and iterate through values in the set operator to access each element of the *set* and perform operations on them.
- Indexes cannot be used as in *tuples* and *lists* since there is no ordering and indexing for sets.
- When you run a for loop through a set,the order of the values of state might be different.

We can use a *for* loop to iterate through values in the set and access each element of the set to perform operations on them. 
- Indexes cannot be used, as in tuples and lists, since there is no ordering and indexing for sets.
- When you run a *for* loop through a set, the order of the values of the set might be different.

In [140]:
# print state names in states set
states = {'Arizona','Oklahoma', 'Texas', 'Florida', 'California'}   # states is a set

for state in states:
    print(state)       # not in the same order that you see above

California
Oklahoma
Arizona
Texas
Florida