# Strings Debugging
![Section Title: Strings Debugging](title_pict/strings_debugging2.png)

- Each of the following short code contains one or more bugs. &emsp;&emsp;&emsp;&emsp;
- Please identify and correct these bugs.
- Provide an explanation for your answer.

## Question-1

``` python
3.0*'HI'
```

```{admonition} Solution
:class: toggle
Only integers can be used for repetition; 3.0 is a float.

## Question-2

``` python
3+'HI'
```

```{admonition} Solution
:class: toggle
Concatenation can be done with two strings, but 3 is not a string. You can convert 3 to a string, and after that, you can perform concatenation: `str(3) + 'HI'.`

## Question-3

``` python
name = 'michael"
```

```{admonition} Solution
:class: toggle
Both of the quotes on the left and right must be the same. Either `'michael'` or `"michael"`  will solve the problem.

## Question-4

``` python
print('he's coming')
```

```{admonition} Solution
:class: toggle
The single quote of the string causes the problem since the string is also created by using single quotes. 
- To fix the problem you can either use `\` to make the single quote of the string a character: `'he\'s coming'`
- Instead of single quotes, use double ones: `"he\'s coming"`

## Question-5

``` python
name = 'Michael
Jordan'
print(name)
```

```{admonition} Solution
:class: toggle
Triple single or double quotes must be used for strings that have multiple lines.

## Question-6

``` python
name = 'Brian'
print(name[5])
```

```{admonition} Solution
:class: toggle
The index is out of range because the largest positive index is 4, as indexing starts from 0.

## Question-7

``` python
name = 'Brian'
print((12/3)*name)
```

```{admonition} Solution
:class: toggle
The result of dividing 12 by 3 is 4.0, which is a float, so it cannot be used for repetition.

## Question-8

``` python
name = ''Brian''
```

```{admonition} Solution
:class: toggle
Double single quotes cannot be used to create a string.

## Question-9

``` python
name = 'Ashley'
print(name(3))
```

```{admonition} Solution
:class: toggle
Use indexing with square brackets [].

## Question-10

``` python
state = 'Texas'
n = len(state)
print(state[n])
```

```{admonition} Solution
:class: toggle
The index n is out of range. The largest valid index is len(state) - 1, as indexing starts from 0.

## Question-11

``` python
print(string.digits)
```

```{admonition} Solution
:class: toggle
To use string.digits, you need to import the string module first: import string

## Question-12

``` python
country = 'France'
country[0] = 'T'
```

```{admonition} Solution
:class: toggle
Strings are immutable, meaning they cannot be modified once defined.

## Question-13

``` python
'a' notin 'table'
```

```{admonition} Solution
:class: toggle
The operator for checking membership in Python is not in, not notin.