# Variables Debugging

![Section Title: Variables Debugging](title_pict/variables_debugging2.png)

- Each of the following short code contains one or more bugs. &emsp;&emsp;&emsp;&emsp;
- Please identify and correct these bugs.
- Provide an explanation for your answer.

## Question-1

``` python
state = 'NY'
int(state)
```

```{admonition} Solution
:class: toggle
string `state` can not be converted to an integer.

## Question-2

``` python
991_number = 'emergency'
```

```{admonition} Solution
:class: toggle
variable names can not start with a digit

## Question-3

``` python
float('HI')
```

```{admonition} Solution
:class: toggle
string `HI` can not be converted to a float.

## Question-4

``` python
A = 3
print(a + 5)
```

```{admonition} Solution
:class: toggle
`a` is not defined because capital `A` is 3

## Question-5

``` python
True = 5
print(True)
```

```{admonition} Solution
:class: toggle
Keywords can not be used as a variable names. `True` is a keyword.

## Question-6

``` python
print(int('5.0'))
```

```{admonition} Solution
:class: toggle
`5.0` is not an integer

## Question-7

``` python
age = 25
print('I am'+age+'years old.')
```

```{admonition} Solution
:class: toggle
- `I am` is a string and `age` is an integer. 
- '+' can not be used to concatenate numbers and strings

## Question-8

``` python
print = 25
print('Hello')
```

```{admonition} Solution
:class: toggle
- In the first line, *print* becomes a variable, and its value is 25, so it loses its function property.

## Question-9

``` python
number : 3
print(number)
```

```{admonition} Solution
:class: toggle
In Python, a value is assigned to a variable using the = sign, not :.

## Question-10

``` python
number = 3
type(number)
```

```{admonition} Solution
:class: toggle
When calling the type() function, parentheses () should be used instead of square brackets [].

## Question-11

``` python
first name = 'Joseph'
```

```{admonition} Solution
:class: toggle
Variable names cannot contain spaces. Instead, you can use an underscore (_) to separate words in variable names.

## Question-12

``` python
x = 5, y = 8
print(x+y)
```

```{admonition} Solution
:class: toggle
In multiple assignments, all variable names must be on the left in a comma-separated format, and the corresponding values must be on the right, also separated by commas. Therefore it must be x, y = 5, 8

## Question-13

``` python
age = 25
print('I am' age 'years old.')
```

```{admonition} Solution
:class: toggle
You can use a comma to separate a constant string and a variable in a print statement: print('I am', age, 'years old.')

## Question-14

``` python
age = '25'
birthyear = 2020 - age 
```

```{admonition} Solution
:class: toggle
The variable age is a string, and you cannot subtract a string from an integer.

## Question-15

``` python
birthyear = 2020 - age 
```

```{admonition} Solution
:class: toggle
The variable age is not defined.